body{
    background-color: aquamarine;
    margin-right: 30%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: rgb(79, 212, 168);
    padding: 10px;
}

p{
    font-weight: bold;
}

div{
    background-color: rgb(77, 226, 201);
    padding: 20px;
    margin: 10px;
}