@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

  margin: 15%;
  background-color: rgb(65, 177, 211);
}

#site {
  padding: 5%;
  background-color: rgb(160, 221, 240);
}

#site h1 {
  margin-top: 0;
}
